.table {
  width: 100%;
  margin: 15px auto;
  border-spacing: 0 5px;
  border-collapse: separate;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  table-layout: fixed;

  tbody {
    tr {
      height: 60px;
    }
  }

  tfoot {
    position: sticky;
    bottom: 0;
    z-index: 99;
  }

  th {
    padding: 10px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
    word-break: break-word;
  }

  td {
    vertical-align: middle;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
    background: white;
    position: relative;
    transition: all 0.5s ease;

    &:first-child {
      border-left: 2px solid #56433D;
    }

    &:not(:first-child) {
      cursor: pointer;
    }
  }
}